rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    function signedIn() { return request.auth != null; }
    function admin() {
      return signedIn() && request.auth.token.email in ['YOUR_GMAIL@gmail.com'];
    }
    match /site/{doc} {
      allow read: if signedIn();
      allow write: if admin();
    }
    match /series/{seriesId} {
      allow read: if signedIn();
      allow create, update, delete: if admin();
      match /chapters/{chapterId} {
        allow read: if signedIn();
        allow create, update, delete: if admin();
        match /pages/{pageId} {
          allow read: if signedIn();
          allow create, update, delete: if admin();
        }
      }
    }
  }
}
